*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}


/* header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
} */


.cont-header{
    text-align: center;
    padding: 20px;
}

span{
   margin-left: 30px;
}

.logo{
    width: 20%;
}

.span-nav{
    color: grey;
}

.butt-blue{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
}

.container{
    background-color: aqua;
    padding-top: 60px;
}

.cont2{
    margin: auto;
    width: 70%;
    margin-top: 50px;
}

.title{
    margin: auto;
    width: 70%;
}

h1{
    font-size: 5rem;
}

.jumbo{
    width: 90%;
}

.main-left{
    flex-basis: 30%;
}

.main-right{
    flex-basis: 70%;
}

.p-main{
    margin-top: 30px;
}

.arrow{
    margin-top: 230px;
    font-size: 60px;
}

.butt{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    margin-right: 210px;
}

.cont-title{
    margin: auto;
    width: 60%;
    margin-top: 80px;
}

.cont-card{
    margin: auto;
    width: 60%;
    margin-top: 60px;
}

.sect1{
    line-height: 30px;
}

.check1{
    margin-left: 20px;
}

.check2{
    margin-right: 25px;
    display: inline-block;
    margin-top: 60px;
}

.box-title{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.box-main{
    padding: 20px;
}

.box{
    border: 1px solid lightgray;
    flex-basis: 30%;
}

.sect2{
    margin-top: 20px;
    margin-bottom: 100px;
}

.sect2-1{
    margin-top: 20px;
    margin-bottom: 128px;
}

ul{
    list-style: none;
}

li{
    margin-top: 10px;
    line-height: 30px;
}

.right-list{
    margin-left: 10px;
}


.box-button{
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border: none;
    text-align: center;
    margin: auto;
}

.box-link{
    margin-top: 50px;
    margin-bottom: 50px;
}
