
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}



/* header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
} */


.cont-header{
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

span{
   margin-left: 30px;
}

.logo{
    width: 20%;
}

.span-nav{
    color: grey;
}

.butt-blue{
    background-color:rgb(0, 97, 255);
    color: white;
    text-decoration: none;
    padding: 6px 10px;
}

.container{
    background-color: rgb(180, 208, 231);
    padding-top: 60px;
}

.cont2{
    margin: auto;
    width: 70%;
    margin-top: 50px;
    position: relative;
    top: 50px;
}

.title{
    margin: auto;
    width: 70%;
    margin-top: 50px;
}

h1{
    font-size: 5rem;
}

.jumbo{
    width: 90%;
}

.main-left{
    flex-basis: 30%;
}

.main-right{
    flex-basis: 70%;
}

.p-main{
    margin-top: 30px;
}

.arrow{
    margin-top: 110px;
    font-size: 60px;
}

.butt{
    background-color: rgb(0, 97, 255);
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    margin-right: 210px;
}

.cont-title{
    margin: auto;
    width: 60%;
    margin-top: 100px;
}

.busin-tit{
   font-size: 2.5rem;
} 

.cont-card{
    margin: auto;
    width: 60%;
    margin-top: 60px;
}

.sect1{
    line-height: 30px;
}

.check1{
    margin-left: 20px;
    
}

.check2{
    margin-right: 25px;
    display: inline-block;
    margin-top: 60px;
}

.bluecheck{
    color: rgb(0, 97, 255);
}

.box-title{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.box-main{
    padding: 20px;
}

.box{
    border: 1px solid lightgray;
    flex-basis: 30%;
}

.sect2{
    margin-top: 20px;
    margin-bottom: 100px;
}

.sect2-1{
    margin-top: 20px;
    margin-bottom: 128px;
}

.fa-check{
    color: rgb(0, 97, 255);
}

ul{
    list-style: none;
}

li{
    margin-top: 10px;
    line-height: 30px;
}

.right-list{
    margin-left: 10px;
}


.box-button{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 10px 10px;
    border: none;
    text-align: center;
    margin: auto;
}

.box-link{
    margin-top: 50px;
    margin-bottom: 50px;
}

.schedacol{
    margin-top: 40px;
    border: 1px solid lightgrey;
    padding: 15px;
}

.cont-col{
    margin-top: 30px;
}

.colright{
    line-height: 50px;
}

.sect3{
    margin: auto;
    width: 60%;
    margin-top: 50px;
}



.box-button-p{
    background-color: white;
    color: gray;
    padding: 10px 10px;
    border: 1px solid gray;
    margin-top: 25px;
}


.img-partner{
    flex-basis: 58%;
}

.part-img{
    width: 100%;
    ;
}

.text-partner{
    padding-right: 130px;
    margin-top: 30px;
    flex-basis: 40%;
    line-height: 30px;
}

.title-partner{
    margin-bottom: 25px;
}

.contbutt{
    width: 200px;
}

.box-businnes{
    margin-bottom: 150px;
}

.title-businnes{
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}

.card-businnes img{
    width: 100%;
    margin-top: 40px;
}

.card-businnes{
    flex-basis: 32%;
}

.t-under-businnes{
    font-size: 2rem;
    margin-bottom: 120px;
    margin-bottom: 40px;
}

.box-square{
    
    /* height: calc(100vw / 3); */
    margin-top: 200px;
    
}

.square{
    width: 50%;
    background-color: ;
    
    aspect-ratio: 1/1;
   
}

.prima{
    background-color:rgb(162, 211, 155);
}
.seconda{
    background-color: rgb(97, 8, 43);
}

.terza{
    background-color: rgb(0, 147, 206);
}

.quarta{
    background-color: rgb(255, 28, 28);
}

.quinta{
    background-color: rgb(245, 245, 245);
}

.sesta{
    background-color: rgb(213, 0, 31);
}

.settima{
    background-color: rgb(180, 208, 231);
}

.ottava{
    background-color: rgb(13, 36, 129);
}

.nona{
    background-color: rgb(255, 216, 48);
}

.immq{
    width: 100%;
    filter: invert(1);
    padding: 50px;
}

.square-left{
    width: calc(100% / 3);
}

.square-center{
    width: calc(100% / 3);
}

.square-right{
    width: calc(100% / 3);
}

.square-c{
    padding: 70px;
    filter: invert(2);
    /* filter: invert(); */
    aspect-ratio: 1/1;
    ;
}

.text-c{
    margin-top: 50px;
    color: white;
}

.sect-gratis{
    background-color: rgb(180, 208, 231);
}

.contgratis{
    margin: auto;
    width: 70%;
    padding: 150px;
    
}

.butt-gratis{
    background-color: white;
    color: gray;
    padding: 10px 10px;
    
}

.gratis-right{
    font-size: 1.5rem;
    flex-basis: 36%;
    color: rgb(97, 8, 43);
}
.cont-cont{
    padding: 100px;
}

.cont-advanced{
    margin: auto;  
    padding: 30px;
    border-top: 1px solid gray;
}

.cont-advanced-center{
    margin: auto;  
    padding: 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.cont-advanced-bottom{
    margin: auto;
    padding: 30px;
    border-bottom: 1px solid gray;
}

.h2-adv{
    text-align: center;
    margin-top: 80px;
    font-size: 3rem;
}

.cont-cont{
    margin: auto;
    width: 70%;
    margin-top: 50px;
}

footer{
    background-color: black;
}

.boss-cont{
    margin: auto;
    width: 55%;
    color: white;
}

.cont-foot{
    margin: auto;
    ;
    color: white;
}

.list-foot{
    list-style: none;
    margin-top: 80px;
}

.li-strong{
    font-size: 25px;
    margin-bottom: 25PX;
}

.list-foot{
    margin-bottom: 100px;
}

.cont-ita{
    
} 

hr{
    width: 100px;
    margin-bottom: 50px;
}

.ita{
    display: inline-block;
    margin-bottom: 40px;
}